extends email-layout

block content
  h2 Ratio #{fromCrypto} / #{toCrypto}
  p #{ratio}
  br
  br
  p Price USD #{fromCrypto}: #{fromCyptoPriceUsd}
  p Price USD #{toCrypto}: #{toCyptoPriceUsd}
  br
  a(href='//www.kraken.com/prices/xmr-monero-price-chart/xbt-bitcoin?interval=1y') Check ratio in graph
