extends email-layout

block content
  h2 Ratio #{fromCrypto} / #{toCrypto}
  p Ratio: #{ratio}
  br
  br
  p Price USD #{fromCrypto}: #{fromCyptoPriceUsd}
  p Price USD #{toCrypto}: #{toCyptoPriceUsd}
