doctype html
html(lang="en")
head
  title= `${title} | ${h.siteName}`
  link(rel='stylesheet', href='/dist/style.css')
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(charset="utf-8")
  base(href="/app/")
  link(rel="icon" type="image/x-icon" href="/app/favicon.ico")

  body
    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
                  
    block content
  
    block scripts
      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
      //- this are the server app js resources bundled by webpack in server
      script(src="/dist/App.bundle.js")
      //- these are all the client app resources
      script(type="text/javascript" src="/app/inline.bundle.js")
      script(type="text/javascript" src="/app/polyfills.bundle.js")
      script(type="text/javascript" src="/app/styles.bundle.js")
      script(type="text/javascript" src="/app/vendor.bundle.js")
      script(type="text/javascript" src="/app/main.bundle.js")
